doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css')
  body 
    header(id="header")
      div(class="inner")
        a(href="/" class="logo") #{defaultLang.siteName}
        nav(id="nav")
          a(href="/") Home
          a(href="/#create") 建立戳戳樂
    a(href="#menu" class="navPanelToggle")
      span(class="fa fa-bars")
    block content

    section(id="footer")
      div(class="inner")
        p 
          a(href="#{siteHost}") #{defaultLang.siteName}
          | @2017 by Ethen eatgood@anotherdream.tw
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="/assets/js/skel.min.js")
    //- script(src="/assets/js/jquery.min.js")
    script(src="/assets/js/util.js")
    script(src="/assets/js/main.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="/assets/js/eatinggood.js")