extends layout
block content
  script.
  section#main
    div(class="inner")
      header
        h2 基本狀態 
        if (order.disabled)
          h4 訂單狀態：[無效訂單] #{order.status}
        else if (order.completed_at)
          h4 訂單狀態：[已完成] #{order.status}
        else
          h4 訂單狀態：#{order.status}
        p 訂單編號 #{order._id}
        p 預購者信箱：#{order.email}
        p 預購者電話：#{order.cellphone}
        a(href="#{siteHost}/preorders/#{order.preorder_id}/view")
          p 原預購網址：#{siteHost}/preorders/#{order.preorder_id}/view
        p 建立時間：#{order.created_at.Format("yyyy-MM-dd hh:mm")}
        //- if (order.shipping_expect_at)
        //-  p 預定交付日：#{order.shipping_expect_at.Format("yyyy-MM-dd")}
         if (order.completed_at)
          p 訂單完成時間：#{order.completed_at.Format("yyyy-MM-dd hh:mm")}
        p 選擇之取貨點：#{order.pickup_at}
        if (order.tags)
          p #{array2csv(order.tags)}
        if (order.desc)
          textarea
            | #{order.desc}
        br
        //- 付款
        p 訂單總金額 #{order.prize_total} NTD
        p 選擇的付款方式 #{order.paid_method} 
        //- TODO更換付款方式
        if (!order.paid_checked_at)
          textarea
            | #{payment_msg[order.paid_method].replace("<order_id>",order._id).replace("<order_passwd>",order.passwd)}
          if (order.paid_at)
            p 回報已付款：#{order.paid_at.Format("yyyy-MM-dd hh:mm")}
            p 付款紀錄：
            div(style="border-width:2px;border-style:solid;border-color:#FFAC55;padding:5px;margin:3px;")
              textarea
                | #{order.paid_note}
        if (order.paid_checked_at)
          p 付款確認日：#{order.paid_checked_at.Format("yyyy-MM-dd hh:mm")}
        if (order.shipped_at)
          p 出貨/取貨日：#{order.shipped_at.Format("yyyy-MM-dd")}
        //- buyer_id prize_products prize_shipping
  form(action='/orders/#{order._id}/mgmt', method="post")
    section#admin
      div(class="inner")
          header
            h2 訂單狀態
          p 若查無此賬，請透過上面的信箱與電話號碼與使用者聯絡。所有訂單狀態更動都會寄送通知給使用者
          div(class="field") 
            label(for="admin_action") 訂單狀態異動
            select#style(name='action')
              option(value='NA') Please Select
              option(value='conform_transfer') 確認入帳
              option(value='shipped') 已出貨
              option(value='edit_prize') 金額異動（請先與客戶聯繫）
              option(value='error') 標記為異常（請先與客戶聯繫）
              option(value='cancel') 取消訂單
          div(class="field") 
            label(for="edit_prize") 總金額異動
            input(type="text" name="edit_prize" id="edit_prize" value="#{order.prize_total}")
          div(class="field") 
            label(for="msg2user") 給使用者的訊息
            textarea(name="msg2user" id="msg2user")
          div(class="field") 
            label(for="admin_note") 管理者內部紀錄
            textarea(name="admin_note" id="admin_note")
          div(class="field")
            ul(class="actions")
              li
                input(type="submit" value="→送出" class="alt") 
    section#products
      div(class="inner")
        header
          h2 預購清單
        div(style="border-width:2px;border-style:solid;border-color:#4286f4;padding:5px;margin:3px;")
          for product in products
            //- TODO: product url
            if (product.status=="ok")
              div(style="border-width:2px;border-style:solid;border-color:#FFAC55;padding:5px;margin:3px;")
                p #{product.product.title} #{product.count} #{product.product.unit} 
                if (product.shipped_at)
                  | 已寄出於 #{product.shipped_at}
                else
                  select#style(name='#{product.product_id}_action')
                    option(value='NA') <修改商品狀態>
                    option(value='shipped') 已寄出
                    option(value='cancel') 取消本項商品
            else
              div(style="border-width:2px;border-style:solid;border-color:#919191;padding:5px;margin:3px;")
                p(style="color:#919191") #{product.product.title} #{product.status} #{product.count} #{product.product.unit}
    section#shipping_tag
      div(class="inner")
        header
          h2 寄送標籤
        div(style="border-width:2px;border-style:solid;border-color:#FFAC55;padding:5px;margin:3px;")
          //- TODO: print
          p #{order.shipping_zip} #{order.shipping_counrty}
          p #{order.shipping_address}
          if (nos(order.shipping_phone))
            p #{order.shipping_name} #{order.cellphone}
          else
            p #{order.shipping_name} #{order.shipping_phone}
          p #{order.shipping_note}
    section#shipping_tag_edit
      div(class="inner")
        header
          h2 修改寄送資料（有必要修改再改）
        div(style="border-width:2px;border-style:solid;border-color:#FFAC55;padding:5px;margin:3px;")
          div(class="field") 
            label(for="admin_note") 郵遞區號
            input(name="shipping_zip" value="#{ns(order.shipping_zip)}")
          div(class="field") 
            label(for="admin_note") 國家
            input(name="shipping_counrty" value="#{ns(order.shipping_counrty)}")
          div(class="field") 
            label(for="admin_note") 地址
            input(name="shipping_address" value="#{ns(order.shipping_address)}")
          div(class="field") 
            label(for="admin_note") 收件人
            input(name="shipping_name" value="#{ns(order.shipping_name)}")
          div(class="field") 
            label(for="admin_note") 手機號碼
            input(name="cellphone" value="#{ns(order.cellphone)}")
          div(class="field") 
            label(for="admin_note") 給郵差的訊息
            input(name="shipping_note" value="#{ns(order.shipping_note)}")